<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../css/main.css" />
    <link rel="stylesheet" type="text/css" href="../css/page3.css" />
    <title>My site/pg3</title>
</head>

<body>
    
    <header class="header">
        <a href="./index.html">
            <button href="botao">Home</button>
        </a>
        <nav class="menu">
            <ul class="menu">
                <li>
                    <a href="../views/page2.html">Portfolio</a>
                </li>
                <li>
                    <a href="../views/page3.html">Music</a>
                </li>
                <!-- <li>
                    <a href="../views/page4.html">Videos</a>
                </li> -->
            </ul>
        </nav>
    </header>
    <div class="container">
        <h1 class="/">Music area</h1>
        <section class="grid1">
            <div class="sound">
                <p class="p2">Music to relax</p>
                <img class="img2" src="../img/piano.jpeg"/>
                <audio id="" class="music" controls="controls">
                    <source src="http://www.mp3classicalmusic.net/48Music/Beethoven48/variazioniwoo73.mp3"
                        type="audio/mpeg" />
            </div>
            <div class="sound">
                <p class="p2">Electronic music</p>
                <img class="img2" src="../img/tecno.jpeg" />
                <audio id="" class="music" controls="controls">
                    <source src="../music/BigCarTheft.mp3"
                        type="audio/mpeg" />
            </div>
            <div class="sound">
                <p class="p2">Hip Hop</p>
                <img class="img2" src="../img/headset.jpeg" />
                <audio id="" class="music" controls="controls">
                    <source src="../music/HipHop1.mp3"
                        type="audio/mpeg" />
            </div>
            <div class="sound">
                <p class="p2">Jazz</p>
                <img class="img2" src="../img/Jazz.jpeg" />
                <audio id="" class="music" controls="controls">
                    <source src="../music/BigSwingBand.mp3"
                        type="audio/mpeg" />
            </div>
            <div class="sound">
                <p class="p2">Gospel</p>
                <img class="img2" src="../img/gospel.jpeg" />
                <audio id="" class="music" controls="controls">
                    <source src="../music/AmazingGrace.mp3"
                        type="audio/mpeg" />
            </div>
            <div class="sound">
                <p class="p2">Rock'n roll</p>
                <img class="img2" src="../img/guitar.jpeg" />
                <audio id="" class="music" controls="controls">
                    <source src="../music/TheHunter.mp3"
                        type="audio/mpeg" />
            </div>
            <div class="sound">
                <p class="p2">Instrumental</p>
                <img class="img2" src="../img/instrumental.jpeg" />
                <audio id="" class="music" controls="controls">
                    <source src="../music/AcousticRock.mp3"
                        type="audio/mpeg" />
            </div>
            <div class="sound">
                <p class="p2">Romantic</p>
                <img class="img2" src="../img/cisneis.jpeg" />
                <audio id="" class="music" controls="controls">
                    <source src="../music/5CentsBack.mp3"
                        type="audio/mpeg" />
            </div>
            <!-- <div class="sound">
                <p class="p2">Blues</p>
                <img class="img2" src="../img/blues.jpeg" />
                <audio id="" class="music" controls="controls">
                    <source src="http://www.mp3classicalmusic.net/48Music/Beethoven48/variazioniwoo73.mp3"
                        type="audio/mpeg" />
            </div> -->

        </section>
        <footer class="anuncio">
            <footer>
                <section class="foo">
                    <h6>&copy;Created by DevTM-F</h6>
                </section>
            </footer>
        </footer>
    </div>
    <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async="async"
        defer="defer"></script>
</body>

</html>