<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" type="text/css" href="../css/main.css"/>
        <link rel="stylesheet" type="text/css" href="../css/page2.css"/>
        <title>Primeiro site/pg2</title>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    </head>
    
    <body>
        <div id="loading" style="display: block;"><img src="https://media.giphy.com/media/hWZBZjMMuMl7sWe0x8/giphy.gif" class="load"/></div>
        <div id="content" style="display: none;">
        <header class="header">
            <a href="../views/index.html">
                <button href="botao">Home</button>
            </a>
            <nav class="menu">
                <ul class="menu">
                    <li>
                        <a href="../views/page2.html">Portfolio</a>
                    </li>
                    <li>
                        <a href="../views/page3.html">Music</a>
                    </li>
                    <!-- <li>
                        <a href="../views/page4.html">Videos</a>
                    </li> -->
                </ul>
            </nav>
        </header>
        <div class="container">
            <h1>Portfolio</h1>
            <section class="grid2">

                <div id="modal" class="modal">
                    <div class="modal-content">
                        <span class="close">&times;</span>
                    </div>
                    
                </div>
                <div id="row" class="row">
                    <div class="column">
                        <div class="card" name="ada" >
                            <img class="imgUp" src="https://github.com/DevTM-F/Tribute-Page/blob/main/adatributepage.png?raw=true"/>
                            <a class="projects" href="https://codepen.io/DevTM-F/pen/mdVjEWL" target="_blank">
                                <p class="p">Ada Lovelace Tribute Page</p>
                            </a>
                        </div>
                    </div>
                    <div class="column" >
                        <div class="card" name="doc">
                            <img src="https://github.com/DevTM-F/HTML_documentation/blob/main/html-doc.png?raw=true"/>
                            <a class="projects" href="https://codepen.io/DevTM-F/pen/GRowjeP" target="_blank">
                                <p class="p">HTML documentation</p>
                            </a>
                        </div>
                    </div>
                    <div class="column">
                        <div class="card" name="form">
                            <img src="../img/survey-form.png"/>
                            <a class="projects" href="https://codepen.io/DevTM-F/pen/YzqXKOd" target="_blank">
                                <p class="p">Survey Form</p>
                            </a>
                        </div>
                    </div>
                    <div class="column">
                        <div class="card" >
                            <img src="../img/Captura de ecrã de 2021-03-19 01-18-46.png"/>
                            <a class="projects" href="https://codepen.io/DevTM-F/pen/ZEQMrJR" target="_blank">
                                <p class="p">Web Page</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="anuncio">
                    <div class="LI-profile-badge" data-version="v1" data-size="medium" data-locale="pt_BR" data-type="horizontal" data-theme="dark" data-vanity="felipedemel0">
                        <a class="LI-simple-link" href='https://br.linkedin.com/in/felipedemel0?trk=profile-badge'>Felipe de Melo</a>
                    </div>
                </div>
            </section>
        </div>
        <footer>
            <section class="foo">
                <h6>&copy;Created by DevTM-F</h6>
            </section>
        </footer>
        <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async="async" defer="defer"></script>
        <script type="text/javascript" src="../js/Javascrip.js"></script>
        </div>
    </body>
</html>